.address-content {
    width: 680px;
    margin: 10px auto;
    text-align: center;
}

.title h3 {
    font-size: 36px;
    margin: 48px auto;
}

.form-group {
    margin-bottom: 10px;
}

.item-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 30px;
}
.form-input {
    width: 100%;
    height: 45px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
}

.form-btn {
    width: 100%;
}

.form-btn-submit {
    width: 100%;
    height: 60px;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #FF5555;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.form__error {
    display: block;
    text-align: left;
}