* {
    box-sizing: border-box;
    color: #000;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.header {
    width: 100%;
    background-color: #000;;
}

.header-inner {
    max-width: 1380px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header__heading {
    margin: 0;
    margin-right: 40px;
}

.header__search {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.search-form {
    width: 100%;
    max-width: 500px;
}

.search-form input {
    padding: 5px 30px;
    width: 100%;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin: 0 30px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav__content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav__btn {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.sell-btn {
    width: 100px;
    padding: 10px 0;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
}

.content {
    width: 100%;
}

input {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

.form__error {
    color: red;
    font-size: 20px;
    padding: 10px 0;
}