* {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    width: 370px;
    height: 36px;
    margin: 22px 25px;
}

.header__search {
    width: 563px;
    height: 100%;
}

.search-bar {
    margin: 0;
    padding: 0;
}

.search-form input {
    margin: 15px auto;
    padding: 5px 30px;
    width: 500px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;

}

.header__nav {
    width: 463px;
    height: 100%;
}

.header-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__form {
    margin: 0;
    padding: 0;
}

.header-nav__logout-btn {
    margin-top: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.header-nav__login-btn {
    margin-top: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.sell-btn {
    margin-top: 18px;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
}

.form__error {
    color: red;
    font-size: 20px;
    padding: 10px 0;
}