.index-content {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    width: 100%;
    margin-top: 47px;
    padding-left: 124px;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
    border-bottom: 2px solid #5F5F5F;
}

.tabs a {
    width: 155px;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: #5F5F5F;
}

.tabs a.active {
    color: #f00;
}

.item-list {
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    justify-content: flex-start;
}

.item-card {
    width: 290px;
    max-height: 320px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item-card:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.image-wrapper {
    width: 290px;
    height: 290px;
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 97%;
    border-radius: 4px;
    object-fit: cover;
    display: block;
    margin: auto 0;
}

.sold-label {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(247, 72, 72, 0.7);
    color: #fff;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 18px;
}

.item-name {
    height: 30px;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 0;
}