.profile-content {
    width: 100%;
    margin: 0;
}

.profile {
    width: 1017px;
    height: 150px;
    margin: 60px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
}

.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-img.dummy {
    background-color: #D9D9D9;
}

.user-name {
    margin-left: 56px;
    padding-left: 10px;
    font-size: 36px;
    font-weight: bold;
}

.profile-edit {
    width: 310px;
    height: 59px;
    border: 2px solid #FF5555;
    color: #FF5555;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    width: 100%;
    border-bottom: 2px solid #5F5F5F;
    padding-left: 129px;
    display: flex;
    gap: 50px;
}

.tabs a {
    width: 155px;
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: #5F5F5F;
    gap: 30px;
}

.tabs a.active {
    color: #f00;
}

.item-list {
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    justify-content: flex-start;
}

.item-card {
    width: 290px;
    height: 320px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

.item-card:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.image-wrapper {
    width: 290px;
    height: 290px;
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 98%;
    border-radius: 4px;
    object-fit: cover;
}
 .item-name {
    margin: 0;
    font-size: 25px;
 }