.register-content {
    width: 680px;
    margin-top: 30px;
}

.register-form__heading {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

.register-form {
    margin-top: 10px;
}

.form__group {
    margin-bottom: 10px;
}
.form__group-label {
    display: block;
    margin-bottom: 10px;
}

.form__group-input {
    width: 100%;
    height: 59px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
}

.form__btn {
    width: 100%;
    height: 65px;
    margin:0 auto;
}

.form__btn-submit {
    width: 100%;
    height: 65px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #ff5555
    ;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login__btn-submit {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #0073cc;
    cursor: pointer;
}