.sell-content {
    width: 680px;
    align-items: center;
}

.sell-title h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

.sell-form {
    width: 100%;
    margin: 0;
}

.item-img, .item-detail,
.item-description {
    width: 100%;
    margin: 20px 0;
}

.item-img__title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 24px;
}

.image_output {
    width: 680px;
    height: 150px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
}

.image-label {
    width: 165px;
    height: 43.5px;
    border: 2px solid #FF5555;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 16px;
    color: #FF5655;
    cursor: pointer;
}

.item-detail h4, .item-description h4 {
    width: 100%;
    font-size: 30px;
    color: #5F5F5F;
    padding-bottom: 5px;
    border-bottom: 1px solid #5F5F5F;
}

.category__group, .condition__group {
    width: 100%;
    margin: 10px 0;
}

.category__group-label, .condition-label, .form__group-label {
    font-size: 24px;
    margin-bottom: 10px;
}

.category-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-checkbox {
    display: none;
}

.category-btn {
    padding: 6px 14px;
    border: 1px solid #FF5655;
    border-radius: 200px;
    color: #FF5655;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.category-checkbox:checked + .category-btn {
    background-color: #FF5655;
    color: #fff;
}

.custom-select {
    position: relative;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

.selected {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    color: #5F5F5F;
    position: relative;
}

.selected::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #5F5F5F;
}

.options {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #636769;
    border: 1.5px solid #B1B1B1;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
}

.options li {
    padding: 5px 5px 5px 28px;
    color: #EAEAEA;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.options li::before {
    content: "✓";
    padding-left: 8px;
    position: absolute;
    left: 50%;
    top:50%;
    width: calc(100% - 18px);
    height: calc(100% - 8px);
    border-radius: 5px;
    background-color: #5599EB;
    color: #EAEAEA;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
}

.options li:hover::before {
    opacity: 1;
}

.options li.selected::before {
    opacity: 1;
}

.form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-name__input, .form-brand__input {
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.description {
    width: 100%;
    height: 125px;
    border:1px solid #5F5F5F;
    border-radius: 4px;
    resize: none;
}

.price-input {
    width: 100%;
    position: relative;
}

.price-yen {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #5F5F5F;
    font-size: 24px;
}

.form-price__input {
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.form__btn {
    width: 100%;
}

.form__btn-submit {
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #FF5655;
    color: #fff;
    cursor: pointer;
}
