.show-content {
    max-width: 1380px;
    margin: 80px auto;
    display: flex;
}

.image-area, .description-area{
    width: 50%;
}

.image-area {
    padding: 0 45px;
    position: relative;
}

.image-area img {
    display: block;
    width: 600px;
    height: 600px;
    margin-top: 36px;
    background-color: #D9D9D9;
    border-radius: 4px;
    object-fit: cover;
}

.sold-label {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: rgba(247, 72, 72, 0.7);
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    font-size: 24px;
}

.item-title, .purchase-form {
    width: 570px;
    margin-left: 65px;
}

.item-title__name h3 {
    margin: 0 ;
    font-size: 45px;
    font-weight: bold;
}

.item-brand {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}

.item-price {
    margin-bottom: 30px;
    font-size: 30px;
}

.item-price span{
    font-size: 45px;
    font-weight: 400;
}

.item-action {
    width: 144px;
    height: 67px;
    margin-top: 0;
    margin-left: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-icon {
    margin: 0 auto;
}
.like-btn__img, .comment-icon img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.like-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-count, .comment-count {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.purchase-form {
    height: 100px;
}

.purchase-btn {
    margin-top: 22px;
    width: 570px;
    height: 56px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #FF5555;
    color: #FFFFFF;
    cursor: pointer;
}

.item-description, .item-info, .comment-content {
    width: 570px;
    margin-top: 30px;
    margin-left: 65px;
}

.item-description h4, .item-info h4 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
}

.description-area {
    margin: 0;
    padding: 10px 0;
}

.description {
    font-weight: 400;
}

.info-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 25px;
}

.table-header {
    font-weight: bold;
    text-align: left;
    padding-right: 30px;
    white-space: nowrap;
}

.item-category {
    display: inline-block;
    margin-right: 8px;
    height: 30px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
    align-items: center;
}

.item-condition {
    font-size: 20px;
    font-weight: 400;
}

.item-comments h4 {
    font-size: 36px;
    font-weight: bold;
    color: #5F5F5F;
}

.comment-item {
    margin-bottom: 20px;
}

.comment-user-content {
    display: flex;
    margin-bottom: 20px;
}

.comment-user-content img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #D9D9D9;
    object-fit: cover;
}

.comment-user {
    font-size: 18px;
    margin-left: 10px;
}

.comment-body {
    width: 570px;
    background-color: #D9D9D9;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 28px;
    font-weight: bold;
}

.form-group textarea {
    margin-top: 10px;
    width: 570px;
    height: 240px;
    border: 2px solid #5F5F5F;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.comment-btn__submit {
    margin-top: 50px;
    width: 570px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #FF5555;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}