.show-content {
    max-width: 1380px;
    width: 100%;
    margin: 120px 66px auto;
    display: flex;
    justify-content: center;
}

.image-area, .description-area{
    flex: 1;
    max-width: 690px;
    margin: 0 auto;
}

.description-area {
    padding: 0 0;
}

.item-title,
.purchase-form,
.item-description,
.description-area,
.item-info,
.comment-content {
    width: 570px;
    padding-left: 65px;
}

.image-area img {
    width: 600px;
    height: 600px;
    margin: 36px auto;
    background-color: #D9D9D9;
    border-radius: 4px;
    object-fit: cover;
}

.item-title__name h3 {
    margin: 0 ;
    font-size: 45px;
    font-weight: bold;
}

.item-brand {
    font-size: 20px;
    margin-top: 0;
}

.item-price {
    margin-bottom: 30px;
    font-size: 30px;
}

.item-price span{
    font-size: 45px;
}

.item-action {
    width: 144px;
    height: 67px;
    margin-top: 0;
    margin-left: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-icon {
    margin: 0 auto;
}
.like-btn__img, .comment-icon img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: none;
}
.like-count, .comment-count {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.purchase-form {
    height: 100px;
    text-align: center;
}

.purchase-btn {
    margin-top: 22px;
    width: 570px;
    height: 56px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #FF5555;
    color: #FFFFFF;
    cursor: pointer;
}

.item-description, .item-info, .comment-content {
    width: 100%;
    margin-top: 30px;
}

.item-description h4, .item-info h4 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
}

.description-area {
    margin: 0;
    padding: 10px 0;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}
.table-row {
    margin-top: 10px;
}

.table-header {
    padding: 0;
    font-weight: bold;
    margin-right: 20px;
    text-align: left;
}

.item-category {
    margin-right: 5px;
    height: 30px;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: #D9D9D9;
    text-align: center;
}

.item-condition {
    font-size: 20px;
}

.item-comments h4 {
    font-size: 36px;
    font-weight: bold;
    color: #5F5F5F;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 28px;
    font-weight: bold;
}

.form-group textarea {
    width: 570px;
    height: 240px;
    border: 2px solid #5F5F5F;
    border-radius: 5px;
    padding: 10px;
}

.comment-btn__submit {
    margin-top: 20px;
    width: 570px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #FF5555;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}